#canvas-holder{
    float: right;
    width: 70%;
    height: auto;
}
#sidebar{
    float: left;
    width: 25%;
}
#game-data{
    font-size: 70%;
}



canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}