#canvas-holder{
    float: right;
    width: 70%;
    height: auto;
}
#sidebar{
    float: left;
    width: 25%;
}
#game-data{
    font-size: 70%;
}

.pop{
    
    border: 5px solid #FFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        
    
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}