#menu {
    text-align: center;
}

p{
    margin:auto;
    margin-top: 1%;
    

    
    border: 5px solid #FFF;
    width: 40%;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    
}